.grid-container {
    grid-template-columns: auto auto auto auto auto auto auto auto;
    display: grid;
    grid-template-rows: 3.5rem 1fr 0rem;
  }

  .container-fluid{
    padding: 0;
  }
  
/* Signin */
.signin-main{
    width: 100%;
    height: 100%;
    background-color: #FFF0BE;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  }
  
  /* Shipping */
  
  .shipping-main,
  .update-form{
    width: 100%;
    height: 100%;
    background-color: #FFF0BE;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    margin: auto;
  }
  
  .shipping-main div{ 
    width: 100%;
  }

  .swiper-container{
    background-color: #64512d;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  }

  .comment{
    height:100%;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 2rem 5rem
  }