/*Navbar */
.navbar{
    width: 100%;
    /* background: -webkit-linear-gradient(0deg, rgba(251,240,211,1) 0%, rgba(242,197,75,1) 100%);
    background: linear-gradient(0deg, rgba(251,240,211,1) 0%, rgba(242,197,75,1) 100%); */
    background: rgb(162,161,154);
    background: radial-gradient(circle, rgba(162,161,154,1) 0%, rgba(66,35,21,1) 100%);
    padding-top: 0;
    z-index: 10000;
  }

  .navbar.active{
    width: 100%;
    background: rgb(162,161,154);
    background: radial-gradient(circle, rgba(162,161,154,1) 0%, rgba(66,35,21,0.9136029411764706) 100%);
    padding-top: 0;
    position: fixed;
    z-index: 10000;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  }
  
  .brand-text{
    display:none;
  }

  .brand1{
    width: 0%
  }

  .brand1 img{
    display: none;
    width: 80%;
    margin: .25rem 1rem;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 25%);
  }

  .nav-1{
    padding: 1rem 0;
  }
  
  .nav-2{
    height:90px;
  }
  
  .row{
    width: 100%;
  }
  
  .brand img{
    width: 90%;
    height: 100%;
    margin: 0rem 1rem;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 25%);
  }
  
  .mb-3, 
  .search-box,
  .btn-outline-secondary,
  .input-group-append{
    font-size: 2rem !important;
  }
  
  .mb-3{
    margin-bottom: 0rem !important;
  }
  
  .search-box{
    border-radius:  8px 0 0 8px ;
    background-color:#FFFBEE;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border: #D9B58A solid 1px;
  }
  
  .btn-outline-secondary{
    border-radius: 0 8px 8px 0;
    background-color:#FFFBEE;
    border: none;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border: #D9B58A solid 1px;
    border-left: none !important;
  }
  
  .btn-outline-secondary:hover{
    background-color: #F1D26E;
    border: none;
  }
  
  .contact{
    justify-content: space-evenly;
    display: flex;
  }
  
  .cart{
    margin-top: 1rem;
    border-radius: 15px;
  }
  
  .col-lg-2 .col-md-3{
    justify-content: flex-end;
  }
  
  .cart img{
    width: 32px;
    height: 32px;
  }
  
  .amount-items{
    background-color: #FFFBEE;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
    margin-left: 1rem;
    flex-wrap: wrap;
  }
  
  .account .account-name, .cart,
  .admin,
  .MuiAvatar-colorDefault,
  .MuiAvatar-root,
  .MuiAvatar-circle{
    display: flex;
    z-index: 10000;
    float: left;
  }
  
  .account-name,
  .admin{
    background-color: #FFFBEE !important;
      box-shadow: 2px 4px 5px rgb(0 0 0 / 25%) !important;
      display: inline !important;
      border-radius: 15px !important;
      text-align: center !important;
      font-size: 2rem !important;
      padding: 0.5rem !important;
      margin-left: 1rem !important;
      z-index: 16000;
  }
  
  .grid-container li{
    list-style: none;
  }
  
  .category-name{
    padding-bottom: .3rem;
    display: inline;
    transition: ease-out .2s;
    color: rgb(0, 0, 0) !important;
  }

  .category-name:hover{
  border-bottom: 3px solid #F8930F;
}
  
  .tiny{
    margin-right: 1rem ;
    height: 32px;
    width: 32px;
  }
  
  .dropdown ul{
    background-color: #fffbee;
    display: none;
    right: 0;
    padding: 0rem 0 !important;
    z-index: 1;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 1.8rem;
    text-align: left;
    border-top: 1px solid #868282;  
  }
  
  .dropdown ul li{
    padding: 0.5rem 0 !important;
  }
  
  .dropdown:hover ul{
    display: block;
  }
  
  .fa-phone,
.phone{
  font-size: 2rem;
  color: rgb(0, 0, 0) !important;
}

.fab{
  font-size: 4rem;
  justify-content: center;
}

.fa-facebook{
  color: #0070f8;
  cursor: pointer;
}

.fa-instagram{
  color: #000;
  cursor: pointer;
}

img.small{
  margin: 1rem 0;
  max-width: 10rem;
  max-height: 10rem;
  width: 100%;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.hamburger-menu{
  width: 35px;
  height: 30px;
  margin-left: 1rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.line{
  transition: ease-in-out 0.3s;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

#hamburger-list,
#hamburger-list-active{
  display: none;
}

.cart ul::-webkit-scrollbar{
  display: none;
}

#hamburger-list::-webkit-scrollbar{
  display: none;
}
#hamburger-list-active::-webkit-scrollbar{
  display: none;
}

.line1{
  transform: rotateZ(405deg) translate(8px, 10px)
}

.line2{
  opacity: 0;
}

.line3{
  transform: rotateZ(-405deg) translate(8px, -12px)
}

.category-name, 
.phone{
  
}